@using Microsoft.AspNetCore.Identity
@using System.Security.Principal

@model IEnumerable<Oblig2_Blogg.Models.Entities.Blog>

@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager

@{
    ViewData["Title"] = "Index";
}

<h6>Velkommen @userManager.GetUserName(User)</h6>
<h2>Oversikt over blogger.</h2>

<p>
    @if (signInManager.IsSignedIn(User))
    {
        <a asp-action="Create">Create New</a>
    }
    else
    {
        <a>You are currently not logged in, log in to create a new Blog</a>
    }
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Closed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Owner.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Closed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.ActionLink("Enter the blog", "ReadBlog", new { id = item.BlogId })

                </td>
            </tr>
        }
    </tbody>
</table>
