@using Microsoft.AspNetCore.Identity
@using System.Security.Principal
@using Oblig2_Blogg.Models.Entities

@model IEnumerable<Oblig2_Blogg.Models.Entities.Blog>

@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager

@{
    ViewData["Title"] = "Index";
}


<h2>Oversikt over blogger:</h2>
<hr />
@if (TempData["Feedback"] != null)
{
    <div class="success-centered">
        @TempData["Feedback"]
    </div>
}
<p>
    @if (signInManager.IsSignedIn(User))
    {
        <a asp-action="Create">Create New</a>
    }
    else
    {
        <a>You are currently not logged in, log in to create a new Blog</a>
    }
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Closed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if (item.Owner != null) {
                    <td>
                        @Html.DisplayFor(modelItem => item.Owner.FirstName)
                    </td>

                } else {
                    <td>
                        No user
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Closed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.ActionLink("Enter the blog", "ReadBlogPosts", new {id = item.BlogId})
                </td>
            </tr>
        }
    </tbody>
</table>
