@using Microsoft.AspNetCore.Identity
@using System.Security.Principal
@using Oblig2_Blogg.Models.Entities
@using Oblig2_Blogg.Models.ViewModels

@model Oblig2_Blogg.Models.ViewModels.IndexViewModel

@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager

@{
    ViewData["Title"] = "Index";
}


<h2>Oversikt over blogger:</h2>
<hr />
@if (TempData["Feedback"] != null)
{
    <div class="success-centered text-info">
        <h5>@TempData["Feedback"]</h5>
    </div>
}
<p>
    @if (signInManager.IsSignedIn(User))
    {
    <a asp-action="Create" , asp-controller="Blog">Create New Blog</a>
    }
    else
    {
        <a>You are currently not logged in, log in to create a new Blog</a>
    }
</p>

<table class="table table-hover">
    <thead>
    <tr>
        <th>User</th>
        <th>Blog name</th>
        <th>Description</th>
        <th>Closed</th>
        <th>Created</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var blog in Model.Blogs)
    {
        <tr>
            @if (blog.Owner != null)
            {
                <td>@Html.DisplayFor(modelItem => blog.Owner.FirstName)</td>
            }
            else
            {
                <td>No user</td>
            }
            <td>
                @Html.DisplayFor(modelItem => blog.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => blog.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => blog.Closed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => blog.Created)
            </td>
            <td>
                @Html.ActionLink("Enter the blog", "ReadBlogPosts", new { id = blog.BlogId })
            </td>
            <td>
                @Html.ActionLink("Subscribe ⚝", "SubscribeToBlog", "Blog", new { id = blog.BlogId })
            </td>
        </tr>
    }
    </tbody>
</table>

<hr />
<h4>Siste 10 innlegg aktiviteter:</h4>
<table class="table table-hover">
    <thead>
        <tr>
            <th>User</th>
            <th>Created</th>
            <th>Modified</th>
            <th>Blog</th>
            <th>PostText</th>
            <th>Options</th>

        </tr>
    </thead>
    <tbody>
    @foreach (var post in Model.Posts)
    {
        <tr>
            @if (post.Owner != null)
            {
                <td>@Html.DisplayFor(modelItem => post.Owner.FirstName)</td>
            }
            else
            {
                <td>No user</td>
            }
            <td>
                @Html.DisplayFor(modelItem => post.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => post.Modified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => post.BlogId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => post.PostText)
            </td>

            <td>
                @Html.ActionLink("Read post", "ReadPostComments", "Blog", new { PostId = post.PostId })
            </td>
        </tr>
    }
    </tbody>
</table>






