@using System.Linq.Expressions
@model Oblig2_Blogg.Models.ViewModels.PostViewModel

@{
    ViewData["Title"] = "ReadPost"; }

<h1>@Model.PostText</h1>
<hr />
<div>
    <h4>Post</h4>
    <hr />

    <p>@Html.ActionLink("Create new comment", "CreateComment", new { PostId = @Model.PostId, id = @Model.PostId })</p>
    <hr />
    <p>Comments:....</p>
    <hr />
</div>

<table class="table table-hover">
    <tr>
        <th>User</th>
        <th>Created</th>
        <th>Modified </th>
        <th>Comment </th>
        <th>Options</th>
    </tr>
    @try
    {
        @foreach (var item in Model.Comments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Owner.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modified)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CommentText)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditComment", new { id = item.CommentId }) |

                    @Html.ActionLink("Delete", "DeleteComment", new { id = item.CommentId })
                </td>
            </tr>
        }
    }
    catch (NullReferenceException e)
    {
        //Ingen kommentarer
    }
</table>

<div>
    <a asp-action="Index">Back to List</a> |
    @Html.ActionLink("Gå tilbake til innlegg", "ReadBlog", new { id = Model.BlogId })
    </div>
